$my-white: #e8e8e8;
$dark: #21383e;
$bg-footer: #111117;
$bg-list-footer: #19191f;
$bg-section2: #eef4ed;
$txt-grey: #c0c3d0;
$txt-d-grey: #808080;
$txt-green: #41c457;
$btn-green: #058283;
$bg-span: #41c45745;
// text
$txt-md: 1.2rem;
